<div class="col-md-10 col-md-offset-1 admin-data-box">
  <hr style="size:2px" />
  <%= simple_form_for [:admin, @product] do |f| %>
    <!-- 判斷是否为 new 页面 -->
    <% if @product.new_record? %>
    <% else %>
      <!-- 显示商品图片 -->
      <div class='group'>
        <% if @product.product_images.present? %>
          <% @product.product_images.each do |p| %>
            <%= image_tag p.image.other.url %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <!-- 上传商品图片 -->
    <%= f.label t('f-product-images') %><br>
    <%= f.file_field :product_image, :multiple => true, name: 'product_images[image][]' %>

    <!-- 商品名称 -->
    <%= f.input :title, :label => t('f-product-name'), input_html: { class: 'width-50' } %>

    <!-- 选择细分品类 -->
    <%= f.input :category_id, :label => t('f-product-category'), :collection => @categories, :checked => @product.category, input_html: { class: 'width-50' } %>

    <!-- 选择品牌 -->
    <%= f.input :brand_id, :label => t('f-product-brand'), :collection => @brands, :checked => @product.brand, input_html: { class: 'width-50' } %>

    <!-- 商品描述 -->
    <%= f.input :description, :label => t('f-product-description'), input_html: { class: 'height-200' } %>

    <!-- 商品颜色，尺寸，材料，产地 -->
    <%= f.input :size, :label => t('f-product-size'), input_html: { class: 'width-25' } %>
    <%= f.input :material, :label => t('f-product-material'), input_html: { class: 'width-25' } %>
    <%= f.input :country, as: :string, :label => t('f-product-country'), input_html: { class: 'width-25' } %>
    <%= collection_check_boxes(:product, :color_ids, Color.all, :id, :name) %><br/><br/>

    <!-- 商品价格 -->
    <%= f.input :price, :label => t('f-product-price'), input_html: { class: 'width-25' } %>

    <!-- 商品数量 -->
    <%= f.input :quantity, :label => t('f-product-quantity'), input_html: { class: 'width-25' } %>

    <!-- 是否为精选商品 -->
    <span class="hidden-box"><%= f.input :is_chosen, :label => t('f-product-chosen') %></span>

    <!-- 商品是否隐藏 -->
    <span class="hidden-box"><%= f.input :is_hidden, :label => t('f-hide') %></span>

    <div class="form-actions">
      <%= f.submit t('f-submit'), class: 'btn btn-md btn-default' %>
    </div>
  <% end %>
</div>
