<div class="product-box">
  <div class="container">
    <% if @products.length > 0 %>
      <!-- 商品列表 -->
      <div class='row'>
        <% @products.each_with_index do |product, index| %>
          <div class='col-xs-12 col-sm-4 col-md-3 product-content'>
            <%= link_to product_path(product) do %>
              <!-- 商品图片 -->
              <% if product.product_images.present? %>
                <!-- 显示第一张图片 -->
                <%= image_tag(product.product_images[0].image.other.url, class: 'thumbnail')%>
              <% else %>
                <%= image_tag('http://placehold.it/200x200&text=No Pic', class: 'thumbnail') %>
              <% end %>
            <% end %>
            <div class="product-info">
              <p><%= link_to(product.title , product_path(product)) %></p>
              <p><%= render_product_price(product) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="product-content">
        <h2><%= (t('no-product-data')) %></h2>
      </div>
    <% end %>
  </div>
</div>
